<tr id="invoice_<%= invoice.id %>">
<td data-title="" class="status-row" class="text-center"><%= render partial: 'paid_pill', object: invoice %></td>
<td data-title="#"><%= link_to invoice.id, invoice %></td>
<td class="hidden-xs" data-title="name"><%= link_to invoice.name, invoice %></td>
<td data-title="created_on"><%= invoice.created_on %></td>
<td class="hidden-xs" data-title="rate"><%= invoice.rate %></td>
<td class="hidden-xs" data-title="minutes"><%= invoice.minutes %></td>
<td data-title="amount"><%= number_to_currency(invoice.amount) %></td>
</tr>
