<div class="row">
  <div class="page-header inline">
    <h1>Invoice #<%= @invoice.id %>
    <%= render partial: 'paid_pill', object: @invoice %></h1>
  </div>
</div>

<div class="row">
  <div class="group">
    <label class="control-label col-xs-4 col-sm-2" for="invoice_email">payee</label>
    <div class="col-sm-6 col-xs-4"><%= @invoice.email %></div>
  </div>
</div>

<div class="row">
  <div class="group">
    <label class="control-label col-sm-2 col-xs-4" for="invoice_minutes">minutes</label>
    <div class="col-sm-6 col-xs-4"><%= @invoice.minutes %></div>
  </div>
</div>

<div class="row">
  <div class="group">
    <label class="control-label col-sm-2 col-xs-4" for="invoice_rate">rate</label>
    <div class="col-sm-6 col-xs-4"><%= number_to_currency(@invoice.rate) %></div>
  </div>
</div>

<div class="row">
  <div class="group">
    <label class="control-label col-sm-2 col-xs-4" for="invoice_amount">amount</label>
    <div class="col-sm-6 col-xs-4"><%= number_to_currency(@invoice.amount) %></div>
  </div>
</div>

<div class="row">
  <div class="group">
    <label class="control-label col-sm-2" for="invoice_notes">notes</label>
    <div class="col-sm-6"><%= @invoice.notes %></div>
  </div>
</div>
