<%= bootstrap_form_for(@payee, layout: :horizontal) do |f| %>
  <% if @payee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payee.errors.count, "error") %> prohibited this payee from being saved:</h2>

      <ul>
        <% @payee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, control_col: "col-sm-8", label_col: "col-sm-3" %>
  <%= f.text_field :email, control_col: "col-sm-8", label_col: "col-sm-3" %>

  <%= f.form_group label_col: "col-sm-3", control_col: "col-sm-8" do %>
    <%= f.submit class: 'btn btn-primary btn-block' %>
  <% end %>
<% end %>
